<div class="content-sinhvien">
    <p class="title">Danh sách sinh viên</p>
    <div class="search-and-add">
    <button mat-raised-button color="primary" (click)="openDialog()" class="btnThem">
        <mat-icon>perm_contact_calendar</mat-icon>
        Thêm sinh viên
    </button>
    <div class="search d-flex">
      <i class='bx bx-filter-alt'></i>
      <input (keyup)="applyFilter($event)" placeholder="Ví dụ: 20194386" #input>
    </div>
    </div>
    <div class="content-data">

          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>

              <ng-container matColumnDef="masinhvien">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Mã sinh viên</th>
                <td mat-cell *matCellDef="let row"> {{row.maSinhVien}} </td>
              </ng-container>

              <ng-container matColumnDef="hoten">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Họ tên </th>
                <td mat-cell *matCellDef="let row"> {{row.hoTen}} </td>
              </ng-container>

              <ng-container matColumnDef="gioitinh">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Giới tính </th>
                <td mat-cell *matCellDef="let row"> {{row.gioiTinh}} </td>
              </ng-container>

              <ng-container matColumnDef="ngaysinh">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Ngày sinh </th>
                <td mat-cell *matCellDef="let row"> {{row.ngaySinh | date}} </td>
              </ng-container>

              <ng-container matColumnDef="sodienthoai">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Số điện thoại </th>
                <td mat-cell *matCellDef="let row"> {{row.soDienthoai}} </td>
              </ng-container>

              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                <td mat-cell *matCellDef="let row"> {{row.email}} </td>
              </ng-container>

              <ng-container matColumnDef="hanhdong">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Hành động </th>
                <td mat-cell *matCellDef="let row">
                  <button mat-icon-button (click)="xemSinhVien(row)" color="accent">
                    <mat-icon>visibility</mat-icon>
                  </button>
                  <button mat-icon-button (click)="suaSinhVien(row)" color="primary">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button mat-icon-button (click)="xoaSinhVien(row)" color="warn">
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

              <!-- Row shown when there is no matching data. -->
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="7" style="text-align: center">Không có sinh viên nào chứa dữ liệu "{{input.value}}"</td>
              </tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
          </div>
    </div>
</div>
<div class="my-container">
  <ng-template #customLoadingTemplate>
    <div class="custom-class">
      <!-- <h3>Loading...</h3> -->
      <!-- <button (click)="showAlert()">Click me!</button> -->
    </div>
  </ng-template>

  <ngx-loading
    [show]="loading"
    [config]="{ backdropBorderRadius: '3px' }"
    [template]="customLoadingTemplate"
  ></ngx-loading>
</div>
