<h3>{{actionBtn}} cán bộ</h3>
<div mat-dialog-content>
    <form [formGroup]="cbForm">
        <label id="anh-label">Ảnh * </label>
        <br/>
        <img [src]="imageUrlPreview" id="imagePreview"/>
        <br/><br/>
        <input type="file" class="form-control" formControlName="anh" accept=".jpg, .png" (change)="handleFileInput($event)">
        <br/>
        <mat-form-field appearance="outline">
            <mat-label>Mã cán bộ </mat-label>
            <input matInput formControlName="macanbo" placeholder="Mã cán bộ" [readonly]="(isReadonlyEdit=='true'||isReadonlyView=='true')?'true':'false'">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Họ tên </mat-label>
            <input matInput formControlName="hoten" placeholder="Họ tên" [readonly]="(isReadonlyEdit=='true'||isReadonlyView=='true')?'true':'false'">
        </mat-form-field>
        <label id="gioi-tinh-label">Giới tính * </label>
        <mat-radio-group aria-labelledby="gioi-tinh-label" formControlName="gioitinh">
            <mat-radio-button value="Nam" [disabled]="isReadonlyView">
                Nam
            </mat-radio-button>
            <mat-radio-button value="Nữ" [disabled]="isReadonlyView">
                Nữ
            </mat-radio-button>
        </mat-radio-group>
        <mat-form-field appearance="outline">
            <mat-label>Ngày sinh </mat-label>
            <input matInput [matDatepicker]="picker" formControlName="ngaysinh" [readonly]="isReadonlyView">
            <mat-datepicker-toggle matIconSuffix [for]="picker" [disabled]="isReadonlyView"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Số điện thoại </mat-label>
            <input matInput placeholder="Số điện thoại" formControlName="sodienthoai" [readonly]="isReadonlyView">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Email </mat-label>
            <input matInput placeholder="Email" type="email" formControlName="email" [readonly]="isReadonlyView">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Chức vụ </mat-label>
            <input matInput placeholder="Chức vụ" formControlName="chucvu" [readonly]="(isReadonlyEdit=='true'||isReadonlyView=='true')?'true':'false'">
        </mat-form-field>
    </form>
</div>
<div mat-dialog-action [align]="'end'" style="margin-top: 10px">
    <button mat-raised-button color="warn" mat-dialog-close style="margin-right: 8px">Hủy</button>
    <button mat-raised-button color="primary" style="margin-right: 8px"
        (click)="themHoacSuaCanBo()" *ngIf="actionBtn != 'Xem'">{{actionBtn}}</button>
</div>
<div class="my-container">
  <ng-template #customLoadingTemplate>
    <div class="custom-class">
      <!-- <h3>Loading...</h3> -->
      <!-- <button (click)="showAlert()">Click me!</button> -->
    </div>
  </ng-template>

  <ngx-loading
    [show]="loading"
    [config]="{ backdropBorderRadius: '3px' }"
    [template]="customLoadingTemplate"
  ></ngx-loading>
</div>
