.content-phong {
    padding: 0 10px;
}

.title {
    font-family: 'Merienda', cursive;
    margin-top: 10px;
    font-size: 20px;
    margin-left: 30px;
}

.SearchAndAdd{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
#search{
    height: 40px;
    background-color: #dfe9f5;
    border: none;
    border-bottom: solid 2px grey;
    width: 250px;
}
.SearchAndAdd span i{
    position: absolute;
    bottom: 0;
    font-size: 30px;
    color: grey;
}
#search:focus{
    outline: none;
    border-bottom: solid 2px black;
}
#btnThem{
    position: absolute;
    right: 0;
}

.data-phong {
    margin-top: 20px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
.card{
    height: 100px;
    border-radius: 10px;
    padding: 10px;
}
.card-body{
    background: #7ab0f3;
    border-radius: 10px;
    padding: 0;
    position: relative;
}
.card-title{
    font-size: 18px;
    font-family: 'Merienda', cursive;
    text-align: center;
    margin-top: 5px;
}
.list-icon{
    font-size: 18px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
span{
    cursor: pointer;
}
table{
    width: 100%;
}
th, td{
    text-align: center;
}
thead{
    border-bottom: solid 2 px grey;
}
.pagination{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
}