
<div class="content-trangchu">
    <p class="title mt-2" style="font-family: 'Merienda', cursive; font-size: 25px; margin-bottom: 20px">Ký túc xá Đại học Bách Khoa Hà Nội</p>
    <div class="main-content">
        <swiper [slidesPerView]="1" [spaceBetween]="10" [navigation]="true" [pagination]="{ clickable: true }"
            [loop]="true" [autoplay]="{delay: 2000}">
            <ng-template swiperSlide><img src="../../../assets/images/background1.jpg"></ng-template>
            <ng-template swiperSlide><img src="../../../assets/images/background3.jpg"></ng-template>
            <ng-template swiperSlide><img src="../../../assets/images/background4.jpg"></ng-template>
            <ng-template swiperSlide><img src="../../../assets/images/background2.jpg"></ng-template>
            <ng-template swiperSlide><img src="../../../assets/images/background5.jpg"></ng-template>
        </swiper>
        <div class="introduction">
            <div class="container">
                <h3 class="mt-4" style="font-family: 'Merienda', cursive; font-size: 22px">Giới thiệu</h3>
                <hr />
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-12">
                        <div class="image-intro" style="margin-top: 60px;">
                            <img src="../../../assets/images/csvc.jpg" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-12 col-12 ps-lg-5">
                        <div class="text-intro">
                            <h3 style="font-family: 'Merienda', cursive; font-size: 20px">Điều kiện cơ sở vật chất</h3><br />
                            <p>
                                Bên cạnh công tác học tập, nghiên cứu khoa học, Trường đại học Bách Khoa Hà Nội cũng đặc
                                biệt quan tâm đến đời sống sinh viên. Thông qua khu vực ký túc xá của trường, được trang
                                bị đầy đủ thiết bị. Tạo không gian thoải mái cho sinh viên học tập và sinh hoạt. Ký túc
                                xá bao gồm 10 dãy nhà, trong đó 8 dãy nhà có 4-5 tầng. Tổng cộng có khoảng 435 phòng, bố
                                trí 6-10 người mỗi phòng. Có thể tiếp nhận được 4200 sinh viên nội trú.
                                <br />
                                <br />

                                Ngoài ra, trong ký túc còn có phòng tự học, mỗi phòng có diện tích 100m2 với đầy đủ
                                trang thiết bị. Có thể phục vụ lên đến 80-100 sinh viên. Phòng hội thảo cũng có diện
                                tích tương đương, có máy chiếu, chưa 60-80 sinh viên. Đây là nơi mà dành cho đoàn thanh
                                niên, hội sinh viên họp, tổ chức hội thảo, giới thiệu nghề nghiệp cho sinh viên.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-intro mt-4" style="font-family: 'Merienda', cursive;">
                            <hr />
                            <h3 style="font-family: 'Merienda', cursive;;font-size: 20px">Dịch vụ</h3>
                            <p class="text-center" style="font-size: 18px">Các hệ thống dịch vụ tại ký túc xá Bách Khoa Hà Nội</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-3">
                        <div class="card text-dark text-center pb-2">
                            <div class="card-body">
                                <i class='bx bx-shield-plus'></i>
                                <h3 class="h-font mb-2">An ninh</h3>
                                <img src="../../../assets/images/baove.jpg">
                                <div class="lead mt-2">
                                    Ban quản lý ký túc xá chuyên nghiệp, giữ gìn an ninh trật tự và nề nếp tại khu ký
                                    túc xá. Có hệ thống camera giám sát đảm bảo an ninh, không có kẻ xấu trà trộn vào.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 col-lg-3">
                        <div class="card text-dark text-center pb-2">
                            <div class="card-body">
                                <i class='bx bx-map'></i>
                                <h3 class="h-font mb-2">Điểm giữ xe</h3>
                                <img src="../../../assets/images/parking.jpg">
                                <div class="lead mt-2">
                                    Nhà xe vô cùng rộng rãi, khang trang, sạch sẽ. Đặc biệt mức giá luôn được niêm yết
                                    công khai. Giúp các bạn HSSV luôn an tâm khi sử dụng dịch vụ giữ xe tại ký túc xá.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 col-lg-3">
                        <div class="card text-dark text-center pb-2">
                            <div class="card-body">
                                <i class='bx bx-broadcast'></i>
                                <h3 class="h-font mb-2">Internet</h3>
                                <img src="../../../assets/images/wifi.jpg">
                                <div class="lead mt-2">
                                    Đáp ứng nhu cầu kết nối với Internet ngày càng lớn. Nhà trường luôn đảm bảo lắp đặt
                                    đầy đủ internet cho 100% các phòng tại ký túc xá. Không chỉ các phòng ở, thư viện mà
                                    khắp khuôn viên trường cũng được trang bị Internet đầy đủ.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 col-lg-3">
                        <div class="card text-dark text-center pb-2">
                            <div class="card-body">
                                <i class='bx bx-bulb'></i>
                                <h3 class="h-font mb-2">Các dịch vụ khác</h3>
                                <img src="../../../assets/images/giatla.jpg">
                                <div class="lead mt-2">
                                    Ngoài ra xung quanh khu ký túc xá của sinh viên còn có tiệm giặt ủi, phòng thể hình,
                                    thể dục, phòng tập gym. Các khu vui chơi giải trí, rạp chiếu phim, câu lạc phục vụ
                                    cho các hoạt động văn hóa, thể thao.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row mt-3" style="margin-bottom: 100px">
                    <div class="col-lg-6 col-md-12 col-12 ps-lg-5">
                        <div class="text-intro">
                            <h3 class="mt-3" style="font-family: 'Merienda', cursive; font-size: 20px">Liên hệ</h3><br />
                            <p>
                                Văn phòng trung tâm: Văn phòng: B9 - 101, 102 <br/>
                                Điện thoại: <a href="tel: 02438692942" class="text-dark"><i class='bx bx-phone-outgoing me-2'></i>024 38692942</a><br/>
                                Email: <a href="mailto: ktx@hust.edu.vn" class="text-dark"><i class='bx bx-envelope me-2'></i>ktx@hust.edu.vn</a>
                            </p>
                            <img src="../../../assets/images/bando.jpg" width="80%" height="280px"/>
                        </div>

                    </div>
                    <div class="col-lg-6 col-md-12 col-12">
                        <div class="image-intro" style="margin-top: 60px;">
                            <img src="../../../assets/images/lienhe.jpg" width="100%" height="380px">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>