<div class="content-admin">
    <h3 class="title">
        Cấp tài khoản
    </h3>
    <div id="search">
        <input type="text" placeholder="Tìm kiếm" autocomplete="off" class="me-2" id="input_search"
            [(ngModel)]="searchText" />
        <span><i class='bx bx-search-alt-2'></i></span>
    </div>
    <div class="main-content d-flex">

        <div class="display-data">
            <table>
                <thead>
                    <tr>
                        <th>Mã người dùng</th>
                        <th>Tên đăng nhập</th>
                        <th>Vai trò</th>
                        <th>Trạng thái</th>
                        <th>Thời gian tạo</th>
                        <th>Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let taikhoan of dsTaiKhoan | filter : searchText | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage}">
                        <td>{{taikhoan.manguoidung}}</td>
                        <td>{{taikhoan.tendangnhap}}</td>
                        <td>{{taikhoan.vaitro}}</td>
                        <td [ngStyle]="taikhoan.trangthai == 'Đang hoạt động' ? {'color': 'green'} : {'color': 'red'}">{{taikhoan.trangthai}}</td>
                        <td>{{taikhoan.thoigiantao | date}}</td>
                        <td>
                            <button mat-icon-button color="primary">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button color="warn" (click)="xoaTaiKhoan(taikhoan.id)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="pagination">
                <pagination-controls (pageChange)="currentPage=$event"></pagination-controls>
            </div>
        </div>
        <div class="input-data">
            <h3>Tài khoản</h3>
            <form>
                <mat-form-field appearance="outline">
                    <mat-label>Tên đăng nhập</mat-label>
                    <input matInput placeholder="Tên đăng nhập">
                    <mat-icon matSuffix color="primary">supervisor_account</mat-icon>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Mật khẩu</mat-label>
                    <input type="password" matInput placeholder="Mật khẩu">
                    <mat-icon matSuffix color="primary">touch_app</mat-icon>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Mã cán bộ/Mã sinh viên</mat-label>
                    <input matInput placeholder="Mã cán bộ/Mã sinh viên">
                    <mat-icon matSuffix color="primary">sentiment_very_satisfied</mat-icon>
                </mat-form-field>
                <label id="example-radio-group-label">Vai trò</label>
                <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group">
                    <mat-radio-button class="example-radio-button" value="1">
                        Quản trị viên
                    </mat-radio-button>
                    <mat-radio-button class="example-radio-button" value="2">
                        Cán bộ
                    </mat-radio-button>
                    <mat-radio-button class="example-radio-button" value="3">
                        Sinh viên
                    </mat-radio-button>
                </mat-radio-group>
            </form>
            <div class="d-flex justify-content-center">
                <button mat-raised-button color="primary" class="btnThem">
                    <mat-icon>perm_contact_calendar</mat-icon>
                    Thêm tài khoản
                </button>
            </div>
        </div>
    </div>
</div>