.content-admin {
    padding: 0 30px;
}

.title {
    font-family: 'Merienda', cursive;
    margin-top: 10px;
    font-size: 20px;
    margin-left: 10px;
}
h3{
    font-family: 'Merienda', cursive;
    font-size: 20px;
}
.main-content{
    margin-top: 30px;
    height: 500px;
    position: absolute;
    top: 70px;
    right: 0;
    left: 30px;
}
.input-data{
    width: 30%;
    height: 100%;
    padding: 10px 20px;
    background-color: #fff;
    border: solid grey 2px;
    border-radius: 8px;
    background-image: url(../../../assets/images/decor_change_password.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
.display-data{
    width: 65%;
    height: 100%;
    margin-right: 2.5%;
    position: relative;
    display: flex;
    justify-content: center;
}
.main-content h3{
    text-align: center;
    font-style: normal;
}
table{
    width: calc(100% - 20px);
    position: absolute;
    background-color: white;
    cursor: pointer;
}
th, td{
    text-align: center;
}
tr:nth-child(even){
    background-color: #f3f3f3;
}
tr{
    height: 35px;
    border-bottom: solid 1px #ccc9c9;
}
tr:last-of-type{
    border-bottom: solid 4px #13a07d;
}
thead{
    background-color: #13a07d;
    height: 40px;
    font-family: 'Merienda', cursive;
    color: white;
}
thead tr{
    border-bottom: #13a07d solid 1px;
}
tr:hover{
    background-color: #d3d0d0;
}
thead tr:hover{
    background-color: #13a07d;
}
#search{
    border: none;
    position: absolute;
    left: 40px;
}
#search i{
    font-size: 20px;
    cursor: pointer;
    color: grey;
}
#input_search{
    border: none;
    background-color: #dfe9f5;
    border-bottom: solid 2px grey;
}
#input_search:focus{
    outline: none;
    border-bottom: 2px solid black;
}
.pagination{
    position: absolute;
    bottom: 10px;
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
}
mat-form-field{
    width: 100%;
}
.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
    align-items: flex-start;
  }
  