
.content-canbo{
    padding: 0 10px;
    position: relative;
}
.title{
    font-family: 'Merienda', cursive;
    margin-top: 10px;
    font-size: 20px;
}
#btnThem{
    position: absolute;
    right: 10px;
}
.data-canbo{
    margin-top: 60px;
    height: 550px; 
    width: 100%;
}

