<div class="content-canbo">
    <p class="title">Danh sách cán bộ</p>

    <!-- Button trigger modal -->
    <div>
        <button type="button" class="btn btn-primary" id="btnThem" data-bs-toggle="modal"
            data-bs-target="#themcanboModal">
            <i class='bx bx-book-add me-1'></i>Thêm cán bộ
        </button>
    </div>
    <div class="data-canbo">
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="themcanboModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Thêm cán bộ</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <span class="input-group-text">Mã cán bộ</span>
                    <input type="text" class="form-control" name="macanbo">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Họ tên</span>
                    <input type="text" class="form-control" name="hoten">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Giới tính</span>
                    <div class="form-check form-check-inline mt-1 ms-4">
                        <input class="form-check-input" type="radio" name="gioitinh" id="nam" value="nam" />
                        <label class="form-check-label" for="nam">Nam</label>
                    </div>
                    <div class="form-check form-check-inline mt-1">
                        <input class="form-check-input" type="radio" name="gioitinh" id="nu" value="nu" />
                        <label class="form-check-label" for="nu">Nữ</label>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Ngày sinh</span>
                    <input type="date" class="form-control" name="ngaysinh">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Chức vụ</span>
                    <input type="text" class="form-control" name="chucvu">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Email</span>
                    <input type="email" class="form-control" name="email">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Số điện thoại</span>
                    <input type="text" class="form-control" name="sodienthoai">
                </div>
                <div class="input-group mb-3">
                    <label class="input-group-text" for="anh">Ảnh</label>
                    <input type="file" class="form-control" id="anh" name="anh">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-outline-success">Thêm</button>
            </div>
        </div>
    </div>
</div>