mat-form-field{
    width: 100%;
    margin-top: 5px;
}
h3{
    margin-left: 25px;
    margin-top: 25px;
    font-family: 'Merienda', cursive;
    font-weight: normal;
    font-size: 20px;
}
.mat-mdc-radio-button ~ .mat-mdc-radio-button {
    margin-left: 16px;
  }
label{
    margin-right: 30px;
}
mat-radio-group{
    margin-bottom: 20px;
}