<div>
    <nav *ngIf="role != 'guest'">
        <ul>
            <li>
                <a routerLink="trangchu" class="logo">
                    <img src="../assets/images/logo.jpg" alt="">
                    <span class="nav-item">Quản lý ký túc xá</span>
                </a>
            </li>
            <li>
                <a routerLink="trangchu">
                    <i class='bx bx-home'></i>
                    <span class="nav-item">Trang chủ</span>
                </a>
            </li>
            <li>
                <a routerLink="dangkyphong">
                    <i class='bx bx-user-plus'></i>
                    <span class="nav-item">Đăng ký phòng</span>
                </a>
            </li>
            <li>
              <a routerLink="forum">
                  <i class='bx bx-news'></i>
                  <span class="nav-item">Diễn đàn - Tin tức</span>
              </a>
          </li>
            <li>
                <a routerLink="phong">
                    <i class='bx bx-bed'></i>
                    <span class="nav-item">Thông tin phòng</span>
                </a>
            </li>
            <li>
                <a routerLink="canbo">
                    <i class='bx bxl-graphql'></i>
                    <span class="nav-item">Danh sách cán bộ</span>
                </a>
            </li>
            <li *ngIf="role.startsWith('admin') || role.startsWith('manager')">
                <a routerLink="sinhvien">
                    <i class='bx bx-landscape'></i>
                    <span class="nav-item">Danh sách sinh viên</span>
                </a>
            </li>
            <li>
                <a routerLink="loaiphong">
                    <i class='bx bx-leaf'></i>
                    <span class="nav-item">Thông tin loại phòng</span>
                </a>
            </li>
            <li>
                <a routerLink="dichvu">
                    <i class='bx bx-shower'></i>
                    <span class="nav-item">Thông tin dịch vụ</span>
                </a>
            </li>
            <li>
                <a routerLink="phananh">
                    <i class='bx bx-paper-plane'></i>
                    <span class="nav-item">Hỗ trợ phản ánh</span>
                </a>
            </li>
            <li>
                <a routerLink="thongtincanhan">
                    <i class='bx bxs-user-account' ></i>
                    <span class="nav-item">Thông tin cá nhân</span>
                </a>
            </li>
            <li *ngIf="role.startsWith('admin')">
                <a routerLink="admin">
                    <i class='bx bx-cog'></i>
                    <span class="nav-item">Quản trị</span>
                </a>
            </li>

            <li>
                <a routerLink="login" class="logout" (click)="onLogout()">
                    <i class='bx bx-log-in'></i>
                    <span class="nav-item">Đăng xuất</span>
                </a>
            </li>

        </ul>
    </nav>
    <nav *ngIf="role == 'guest'">
        <ul>
            <li>
                <a routerLink="trangchu" class="logo">
                    <img src="../assets/images/logo.jpg" alt="">
                    <span class="nav-item">Quản lý ký túc xá</span>
                </a>
            </li>
            <li>
                <a routerLink="trangchu">
                    <i class='bx bx-home'></i>
                    <span class="nav-item">Trang chủ</span>
                </a>
            </li>
            <li>
                <a routerLink="dangkyphong">
                    <i class='bx bx-user-plus'></i>
                    <span class="nav-item">Đăng ký phòng</span>
                </a>
            </li>
            <li>
                <a routerLink="loaiphong">
                    <i class='bx bx-leaf'></i>
                    <span class="nav-item">Thông tin loại phòng</span>
                </a>
            </li>
            <li>
                <a routerLink="dichvu">
                    <i class='bx bx-shower'></i>
                    <span class="nav-item">Thông tin dịch vụ</span>
                </a>
            </li>
            <li>
                <a routerLink="login" >
                    <i class='bx bx-log-in'></i>
                    <span class="nav-item">Đăng nhập</span>
                </a>
            </li>

        </ul>
    </nav>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>
