<div class="content-dichvu">
  <div class="header">
    <h3 class="title">
      Loại dịch vụ
    </h3>
    <h3 class="title" *ngIf="!role.startsWith('guest')">
      <a (click)="navigateToSDDV()">Sử dụng dịch vụ <i class='bx bx-log-in-circle'></i></a>
    </h3>
  </div>
  <div class="search-and-add">
    <button *ngIf="role.startsWith('admin')" mat-raised-button color="primary" (click)="openDialog()" class="btnThem">
      <mat-icon>perm_contact_calendar</mat-icon>
      Thêm dịch vụ
    </button>
    <div class="search d-flex">
      <i class='bx bx-filter-alt'></i>
      <input placeholder="Ví dụ: Điện, Nước,..." [(ngModel)]="searchText" #input>
    </div>
  </div>
  <div class="content-data row">
    <div class="col-lg-4 col-md-6 dichvu-card"
      *ngFor="let dv of dsDichVu | filter : searchText | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage}">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>{{dv.tenLoaiDichVu}}</mat-card-title>
            <mat-card-subtitle>{{dv.maLoaiDichVu}}</mat-card-subtitle>
            <img mat-card-sm-image src="../../../assets/images/dichvu/dien.jpg">
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          <p>{{dv.moTa}}</p>
        </mat-card-content>
        <div class='list-icon'>
          <span><i class='bx bx-show me-2' (click)="xemLoaiDichVu(dv.id)"></i></span>
          <span *ngIf="role.startsWith('admin')"><i class='bx bxs-edit-alt me-2'
              (click)="suaLoaiDichVu(dv.id)"></i></span>
          <span *ngIf="role.startsWith('admin')"><i class='bx bxs-trash' (click)="xoaLoaiDichVu(dv.id)"></i></span>
        </div>
      </mat-card>
    </div>
  </div>
  <div class="pagination">
    <pagination-controls (pageChange)="currentPage=$event"></pagination-controls>
  </div>
</div>
<div class="my-container">
  <ng-template #customLoadingTemplate>
    <div class="custom-class">
      <!-- <h3>Loading...</h3> -->
      <!-- <button (click)="showAlert()">Click me!</button> -->
    </div>
  </ng-template>

  <ngx-loading
    [show]="loading"
    [config]="{ backdropBorderRadius: '3px' }"
    [template]="customLoadingTemplate"
  ></ngx-loading>
</div>
