.content-dichvu {
    padding: 10px 30px;
    position: relative;
    height: 100vh;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-family: 'Merienda', cursive;
    
    font-size: 20px;
}
.title a{
    font-size: 16px;
    cursor: pointer;
    text-decoration: underline;
}
.content-data{
    width: 100%;
    margin-top: 20px;
    margin-left: 5px;
}
.search{
    position: relative;
}
.search input{
    height: 30px;
    font-size: 14px;
    background-color: #dfe9f5;
    border: none;
    border-bottom: grey solid 1px;
    margin-left: 30px;
}
.search i{
    font-size: 20px;
    position: absolute;
    bottom: 5px;

}
.search input:focus{
    outline: none;
    border-bottom: 1px solid grey;
}
.btnThem{
    position: absolute;
    right: 30px;
}
.dichvu-card{
    margin-top: 10px;
    padding: 10px;
    height: 230px;
}
.example-card {
    position: relative;
    width: 100%;
    height: 210px;
    margin-bottom: 8px;
    cursor: pointer;
  }
.list-icon{
    position: absolute;
    bottom: 10px;
    display: flex;
    justify-content: center;
    right: 10px;
    font-size: 18px;
}
mat-card-content{
    margin-top: 10px;
    margin-bottom: 10px;
}
mat-card-content p{
    white-space: normal;
    text-overflow: ellipsis;
    display: -webkit-box !important;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.pagination{
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
}