<div class="content-phananh">
    <div class="title">
        <h3>
          Phản ánh
        </h3>
      </div>
    <button class="btnThem" (click)="openDialog()" *ngIf="role.startsWith('student')">
        <mat-icon>perm_contact_calendar</mat-icon>
        Tạo phản ánh
    </button>
    <div class="d-flex SearchAndAdd">
        <div class="search-wrap"><input type="text" placeholder="Tìm kiếm" id="search" autocomplete="off" [(ngModel)]="searchText"/><span><i
            class='bx bx-search-alt-2'></i></span></div>
    </div>

    <div class="data-phananh d-flex">
        <div class="content" style="width: 100%;">
            <table style="width: 100%">
                <thead>
                    <th *ngIf="role.startsWith('student')">Mã sinh viên</th>
                    <th>Tòa</th>
                    <th>Tiêu đề</th>
                    <th>Nội dung</th>
                    <th>Lần cập nhật cuối</th>
                    <th>Trạng thái</th>
                    <th *ngIf="!role.startsWith('admin')">Hành động</th>
                </thead>
                <tbody>
                    <tr *ngFor="let phananh of dsPhanAnh | filter : searchText | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage}">
                        <td *ngIf="role.startsWith('student')">{{phananh.masinhvien}}</td>
                        <td>{{phananh.matoa}}</td>
                        <td>{{phananh.tieudephananh}}</td>
                        <td>{{phananh.noidungphananh}}</td>
                        <td>{{phananh.thoigiantao | date: 'medium'}}</td>
                        <td [ngStyle]="phananh.trangthai == 'Chưa xử lý' ? {'color': 'red'} : {'color': 'green'}" class="fw-bold">{{phananh.trangthai}}</td>
                        <td *ngIf="!role.startsWith('admin')">
                            <button mat-icon-button color="primary" (click)="suaPhanAnh(phananh.id)" *ngIf="role.startsWith('student') && phananh.isEditSV == 'true'">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button color="primary" (click)="capNhatTrangThai(phananh.id)" *ngIf="role.startsWith('manager') && (phananh.isCheckCB == 'true')">
                                <mat-icon>done</mat-icon>
                            </button>
                            <button mat-icon-button color="primary" (click)="capNhatTrangThai(phananh.id)" *ngIf="role.startsWith('manager') && (phananh.isUndoCB == 'true')">
                                <mat-icon>undo</mat-icon>
                            </button>
                            <button mat-icon-button color="warn" (click)="xoaPhanAnh(phananh.id)" *ngIf="(role.startsWith('student') && phananh.isEditSV == 'true') || (role.startsWith('manager') && ((phananh.isCheckCB == 'true') || (phananh.isUndoCB == 'true')))">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="pagination">
                <pagination-controls (pageChange)="currentPage=$event"></pagination-controls>
            </div>
        </div>
    </div>
</div>

