<div class="main-content" *ngIf="objData.roleId == 3">
    <h3 class="title">Thông tin cá nhân</h3>
    <h3 class="name">{{data.hoTen}}</h3>
    <div class="card-profile d-flex">
        <div class="personal">
            <div class="basic">
                <h6>Cơ bản</h6>
                <div><b>Mã số sinh viên</b><br/>{{data.maSinhVien}}</div>
                <hr/>
                <div><b>Giới tính</b><br/>{{data.gioiTinh}}</div>
                <hr/>
                <div><b>Ngày sinh</b><br/>{{data.ngaySinh | date}}</div>
                <hr/>
                <div><b>Số điện thoại</b><br/>{{data.soDienthoai}}</div>
                <hr/>
                <div><b>Email</b><br/>{{data.email}}</div>
                <hr/>
                <div><b>Nơi thường trú</b><br/>{{data.noiThuongTru}}</div>
            </div>
        </div>
        <div class="profile-image">
            <div class="image"><img src="../../../assets/images/nguoidung/student1.jpg" /></div>
        </div>
        <div class="learning">
            <div class="basic">
                <h6>Thông tin bổ sung</h6>
                <div><b>Họ tên cha</b><br/>{{data.hoTenCha}}</div>
                <hr/>
                <div><b>Họ tên mẹ</b><br/>{{data.hoTenMe}}</div>
                <hr/>
                <div><b>Lớp</b><br/>{{data.lop}}</div>
                <hr/>
                <div><b>Khoa</b><br/>{{data.khoa}}</div>
                <hr/>
                <div><b>Viện</b><br/>{{data.vien}}</div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center mt-3">
        <span (click)="suaSinhVien(data)"><i class='bx bxs-edit-alt fs-2'></i></span>
    </div>
</div>




<div class="main-content" *ngIf="objData.roleId != 3">
    <h3 class="title">Thông tin cá nhân</h3>
    <h3 class="name">{{data.hoTen}}</h3>
    <div class="card-profile d-flex">
        <div class="personal">
            <div class="basic">
                <h6>Cơ bản</h6>
                <div><b>Mã cán bộ</b><br/>{{data.maCanBo}}</div>
                <hr/>
                <div><b>Giới tính</b><br/>{{data.gioiTinh}}</div>
                <hr/>
                <div><b>Ngày sinh</b><br/>{{data.ngaySinh | date}}</div>
                <hr/>
                <div><b>Chức vụ</b><br/>{{data.chucVu}}</div>
            </div>
        </div>
        <div class="profile-image">
            <div class="image"><img src="../../../assets/images/baove.jpg" /></div>
        </div>
        <div class="learning">
            <div class="basic">
                <h6>Thông tin liên hệ</h6>
                <div><b>Email</b><br/>{{data.email}}</div>
                <hr/>
                <div><b>Số điện thoại</b><br/>{{data.soDienThoai}}</div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center mt-3">
        <span (click)="suaCanBo(data)"><i class='bx bxs-edit-alt fs-2'></i></span>
    </div>
</div>
