.conten-dangkyphong {
    padding: 0 10px;
    height: 100vh;
}

.title {
    font-family: 'Merienda', cursive;
    margin-top: 10px;
    font-size: 20px;
    margin-left: 30px;
}

.SearchAndAdd{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
#search{
    height: 40px;
    background-color: #dfe9f5;
    border: none;
    border-bottom: solid 2px grey;
    width: 250px;
}
.search-wrap{
    position: absolute;
    right: 70px;
}
.SearchAndAdd span i{
    position: absolute;
    bottom: 0;
    font-size: 30px;
    color: grey;
}
#search:focus{
    outline: none;
    border-bottom: solid 2px black;
}
#btnThem{
    position: absolute;
    left: 0;
}

.data-dangky {
    margin-top: 60px;
    height: 500px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
.decor{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
}
.content{
    width: 80%;
    height: 100%;
}
span{
    cursor: pointer;
}
table{
    width: 90%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
th, td{
    text-align: center;
}
tr:nth-child(even){
    background-color: rgb(207, 202, 202);
}
thead{
    border-bottom: solid 2px black;
    background-color: #dfe9f5;
}
.content{
    position: relative;
}
.pagination{
    position: absolute;
    bottom: 10px;
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
}