<!--<div class="content-dangkyphong">
    <p class="title">Đăng ký phòng</p>

    <div class="d-flex SearchAndAdd">
        <div class="search-wrap"><input type="text" placeholder="Tìm kiếm" id="search" autocomplete="off" [(ngModel)]="searchText"/><span><i
            class='bx bx-search-alt-2'></i></span></div>
        <button type="button" class="btn btn-primary" id="btnThem" data-bs-toggle="modal"
            data-bs-target="#taoDangKyModal">
            <i class='bx bx-book-add me-1'></i>Tạo đăng ký
        </button>
    </div>

    <div class="data-dangky d-flex">
        <div class="decor">
            <img src="../../../assets/images/decor_dangky.jpg" width="100%" height="20%"/>
        </div>
        <div class="content">
            <table>
                <thead>
                    <th>Mã đăng ký</th>
                    <th>Mã phòng</th>
                    <th>Kỳ</th>
                    <th>Thời điểm đăng ký</th>
                    <th>Trạng thái</th>
                    <th>Thời điểm phản hồi</th>
                    <th>Hành động</th>
                </thead>
                <tbody>
                    <tr *ngFor="let dk of dsDangKy | filter: searchText | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage}">
                        <td>{{dk.madangky}}</td>
                        <td>{{dk.maphong}}</td>
                        <td>{{dk.ky}}</td>
                        <td>{{dk.thoidiemdangky}}</td>
                        <td>{{dk.trangthai}}</td>
                        <td>{{dk.thoidiemphanhoi}}</td>
                        <td>
                            <span><i class='bx bx-message-alt-x'></i></span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="pagination">
                <pagination-controls (pageChange)="currentPage=$event"></pagination-controls>
            </div>
        </div>
    </div>
</div>
-->
<!-- Modal -->
<!--
<div class="modal fade" id="taoDangKyModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Tạo đăng ký</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <span class="input-group-text">Mã phòng</span>
                    <input type="text" class="form-control" name="maphong">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Kỳ</span>
                    <input type="number" class="form-control" name="ky">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-outline-success">Tạo</button>
            </div>
        </div>
    </div>
</div>
-->


<!--
<div class="content-dangkyphong">
    <p class="title">Đăng ký phòng</p>

    <div class="d-flex SearchAndAdd">
        <div class="search-wrap"><input type="text" placeholder="Tìm kiếm" id="search" autocomplete="off"
                [(ngModel)]="searchText" /><span><i class='bx bx-search-alt-2'></i></span></div>
        <button type="button" class="btn btn-primary" id="btnThem" data-bs-toggle="modal"
            data-bs-target="#taoDangKyModal">
            <i class='bx bx-book-add me-1'></i>Tạo đăng ký
        </button>
    </div>

    <div class="data-dangky d-flex">
        <div class="decor">
            <img src="../../../assets/images/decor_dangky.jpg" width="100%" height="20%" />
        </div>
        <div class="content">
            <table>
                <thead>
                    <th>Mã đăng ký</th>
                    <th>Mã phòng</th>
                    <th>Kỳ</th>
                    <th>Thời điểm đăng ký</th>
                    <th>Trạng thái</th>
                    <th>Thời điểm phản hồi</th>
                    <th>Hành động</th>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let dk of dsDangKy | filter: searchText | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage}">
                        <td>{{dk.madangky}}</td>
                        <td>{{dk.maphong}}</td>
                        <td>{{dk.ky}}</td>
                        <td>{{dk.thoidiemdangky}}</td>
                        <td>{{dk.trangthai}}</td>
                        <td>{{dk.thoidiemphanhoi}}</td>
                        <td>
                            <span><i class='bx bx-message-alt-x'></i></span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="pagination">
                <pagination-controls (pageChange)="currentPage=$event"></pagination-controls>
            </div>
        </div>
    </div>
</div>
-->
<!-- Modal -->
<!--
<div class="modal fade" id="taoDangKyModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Tạo đăng ký</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="input-group mb-3 col">
                        <span class="input-group-text">Mã sinh viên</span>
                        <input type="text" class="form-control" name="masinhvien">
                    </div>
                    <div class="input-group mb-3 col">
                        <span class="input-group-text">Họ tên</span>
                        <input type="text" class="form-control" name="hoten">
                    </div>
                </div>
                <div class="row">
                    <div class="input-group mb-3 col">
                        <span class="input-group-text">Giới tính</span>
                        <div class="form-check form-check-inline mt-1 ms-4">
                            <input class="form-check-input" type="radio" name="gioitinh" id="nam" value="nam" />
                            <label class="form-check-label" for="nam">Nam</label>
                        </div>
                        <div class="form-check form-check-inline mt-1">
                            <input class="form-check-input" type="radio" name="gioitinh" id="nu" value="nu" />
                            <label class="form-check-label" for="nu">Nữ</label>
                        </div>
                    </div>
                    <div class="input-group mb-3 col">
                        <span class="input-group-text">Ngày sinh</span>
                        <input type="date" class="form-control" name="ngaysinh">
                    </div>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Email</span>
                    <input type="email" class="form-control" name="email">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Nơi thường trú</span>
                    <textarea class="form-control" name="noithuongtru"></textarea>
                </div>
                <div class="row">
                    <div class="input-group mb-3 col">
                        <span class="input-group-text">Lớp</span>
                        <input type="text" class="form-control" name="lop">
                    </div>
                    <div class="input-group mb-3 col">
                        <span class="input-group-text">Khoa/Viện</span>
                        <input type="text" class="form-control" name="khoa">
                    </div>
                </div>
                <div class="row">
                    <div class="input-group mb-3 col">
                        <span class="input-group-text">Mã phòng đăng ký</span>
                        <input type="text" class="form-control" name="maphong">
                    </div>
                    <div class="input-group mb-3 col">
                        <span class="input-group-text">Kỳ</span>
                        <input type="number" class="form-control" name="ky">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-outline-success">Tạo</button>
            </div>
        </div>
    </div>
</div>
-->




<div class="content-dangkyphong">
    <p class="title">Đăng ký phòng</p>

    <div class="d-flex SearchAndAdd">
        <div class="search-wrap"><input type="text" placeholder="Tìm kiếm" id="search" autocomplete="off" [(ngModel)]="searchText"/><span><i
            class='bx bx-search-alt-2'></i></span></div>
    </div>

    <div class="data-dangky d-flex">
        <div class="content" style="width: 100%">
            <table>
                <thead>
                    <th>Mã đăng ký</th>
                    <th>Mã phòng</th>
                    <th>Kỳ</th>
                    <th>Thời điểm đăng ký</th>
                    <th>Trạng thái</th>
                    <th>Thời điểm phản hồi</th>
                    <th>Hành động</th>
                </thead>
                <tbody>
                    <tr *ngFor="let dk of dsDangKy | filter: searchText | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage}">
                        <td>{{dk.madangky}}</td>
                        <td>{{dk.maphong}}</td>
                        <td>{{dk.ky}}</td>
                        <td>{{dk.thoidiemdangky}}</td>
                        <td>{{dk.trangthai}}</td>
                        <td>{{dk.thoidiemphanhoi}}</td>
                        <td>
                            <span><i class='bx bx-message-alt-x'></i></span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="pagination">
                <pagination-controls (pageChange)="currentPage=$event"></pagination-controls>
            </div>
        </div>
    </div>
</div>