<div class="content-loaiphong">
    <h3 class="title">
        Loại phòng
    </h3>
    <div class="search-and-add">
        <button mat-raised-button color="primary" class="btnThem">
            <mat-icon>perm_contact_calendar</mat-icon>
            Thêm loại phòng
        </button>
        <div class="search d-flex">
          <i class='bx bx-filter-alt'></i>
          <input placeholder="Ví dụ: CB001" #input>
        </div>
        </div>
    <div class="content-data row">
        <div class="col-lg-4 mt-3">
        <mat-card class="example-card">
            <mat-card-header>
              <div class="card-header">
                <mat-card-subtitle>Phòng loại A - Tòa B6</mat-card-subtitle>
                <mat-card-title>B6-A</mat-card-title>
                </div>
            </mat-card-header>
            <img mat-card-image src="../../../assets/images/loaiphong/loaiphong1.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                Phòng có nhà vệ sinh khép kín, giường 2 tầng, có quạt trần, tủ cá nhân.  
              </p>
              <div class="card-footer">
                <p><b>Giá phòng</b>: 1400000 đ/kỳ</p>
                <p><b>Sức chứa</b>: 8 <i class='bx bxs-user'></i></p>
              </div>
              <div class='list-icon'>
                <span><i class='bx bx-show me-2'></i></span>
                <span><i class='bx bxs-edit-alt me-2'></i></span>
                <span><i class='bx bxs-trash' ></i></span>
            </div>
            </mat-card-content>
          </mat-card>
          </div>
          <div class="col-lg-4 mt-3">
            <mat-card class="example-card">
                <mat-card-header>
                  <div class="card-header">
                    <mat-card-subtitle>Phòng loại A - Tòa B6</mat-card-subtitle>
                    <mat-card-title>B6-A</mat-card-title>
                    </div>
                </mat-card-header>
                <img mat-card-image src="../../../assets/images/loaiphong/loaiphong1.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>
                    Phòng có nhà vệ sinh khép kín, giường 2 tầng, có quạt trần, tủ cá nhân.  
                  </p>
                  <div class="card-footer">
                    <p><b>Giá phòng</b>: 1400000 đ/kỳ</p>
                    <p><b>Sức chứa</b>: 8 <i class='bx bxs-user'></i></p>
                  </div>
                  <div class='list-icon'>
                    <span><i class='bx bx-show me-2'></i></span>
                    <span><i class='bx bxs-edit-alt me-2'></i></span>
                    <span><i class='bx bxs-trash' ></i></span>
                </div>
                </mat-card-content>
              </mat-card>
              </div>
              <div class="col-lg-4 mt-3">
                <mat-card class="example-card">
                    <mat-card-header>
                      <div class="card-header">
                        <mat-card-subtitle>Phòng loại A - Tòa B6</mat-card-subtitle>
                        <mat-card-title>B6-A</mat-card-title>
                        </div>
                    </mat-card-header>
                    <img mat-card-image src="../../../assets/images/loaiphong/loaiphong1.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                      <p>
                        Phòng có nhà vệ sinh khép kín, giường 2 tầng, có quạt trần, tủ cá nhân.  
                      </p>
                      <div class="card-footer">
                        <p><b>Giá phòng</b>: 1400000 đ/kỳ</p>
                        <p><b>Sức chứa</b>: 8 <i class='bx bxs-user'></i></p>
                      </div>
                      <div class='list-icon'>
                        <span><i class='bx bx-show me-2'></i></span>
                        <span><i class='bx bxs-edit-alt me-2'></i></span>
                        <span><i class='bx bxs-trash' ></i></span>
                    </div>
                    </mat-card-content>
                  </mat-card>
                  </div>
</div>